langchain-community==0.2.16
langchain-core==0.2.38
langchain-text-splitters==0.2.4
chromadb==0.5.5
streamlit==1.38.0
pypdf==4.3.1
python-dotenv==1.0.1
sentence-transformers==3.0.1
huggingface-hub==0.24.6
requests==2.32.3
